table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	border: 1px solid black;
	padding: 10px;
	text-align: left;
}

form {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin-bottom: 20px;
}

label {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

input {
	width: 200px;
}

button {
	width: 100px;
	align-self: center;
}

.divMain:after {
	content: '';
	display: block;
	clear: both;
}

.div__B {
	overflow: hidden;
}

.div__B input {
	width: 100%;

	/* Reset CSS */
	box-sizing: border-box;
	margin: 0;
	/* End Reset CSS */
}






















/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */